@media screen and (max-width: 670px) {
    .user-header {
        flex-direction: column-reverse;
        align-items: center;
    }

    #user-contact-info {
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    #user-contact-info h1 {
        font-size: 30px;
    }

    .user-social {
        width: auto;
    }
}

@media screen and (max-width: 370px) {
    #user-contact-info h1 {
        font-size: 26px;
    }

    .user-social {
        width: auto;
    }
}